# Server
PORT=3001

# Database
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=iot_dashboard
DB_PORT=3306

# MQTT
MQTT_BROKER_URL=mqtt://localhost:1883
MQTT_CONVEYOR_COMMAND_TOPIC=conveyor/esp32-01/command
